.topMenu {
    overflow: hidden;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
    justify-self: center;
    float: right;
}

.topMenu a,
a {
    text-decoration: transparent;
    color: rgb(254, 255, 191);
    text-align: center;
}

.topMenu a:visited,
a {
    color: rgb(251, 228, 253);
}

.topMenu a:hover,
a {
    text-decoration: underline;
    text-transform: none;
    text-justify: distribute;
}

.topMenu a:active,
a:active {
    color: rgb(156, 222, 243);
}